html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text);
  cursor: pointer;
  transition: color 0.2s ease-in;
}

a:hover {
  color: var(--accent-text);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

:root {
  --background-color: #0b1d26;
  --text: #ffffff;
  --accent-text: #fbd784;
}

/* header-nav = row */
body {
  margin: 0;
  font-family: "Playfair Display", serif;
  background-color: var(--background-color);
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;

  color: var(--text);
}

/* Base */

.container-wide {
  width: 1410px;
  padding: 15px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* header - DESCKTOP */

.header {
  padding-top: 64px;
}

.logo {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}

.header-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.header-list-link {
  transition: border-bottom 0.2s ease-in;
}

.header-list-link:not(:last-child) {
  margin-right: 40px;
}

.header-list-link:hover {
  border-bottom: 2px solid var(--accent-text);
}

.account {
  fill: var(--text);
  transition: color 0.2s ease, fill 0.2s ease, border-bottom 0.2s ease;
}

.account:hover {
  fill: var(--accent-text);
  border-bottom: 2px solid var(--accent-text);
}
